/* .hero {
  max-width: 1600px;
  height: 600px;
  padding-bottom: 200px;
  padding-top: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background: black;
  background-size: cover;
  background-image: url(../images/desktop/hero.jpg);
  background-position: center;
}
@media screen and (max-width: 1199px) {
  .hero {
    height: 400px;
    padding: 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 1600px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero.jpg);
  }
}
@media screen and (min-width: 320px) and (max-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 1600px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero.jpg);
  }
}
@media screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero2x.jpg);
  }
}
@media screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 1280px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero.jpg);
    padding: 0 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 1600px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero2x.jpg);
  }
}
.hero__title {
  position: absolute;
  width: 212px;
  height: 44px;
  left: 53px;
  top: 78px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.21;
  text-transform: uppercase;
  color: #dc56c5;
}

@media screen and (min-width: 768px) {
  .hero__title {
    position: absolute;
    width: 353px;
    height: 74px;
    left: 208px;
    top: 40px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.23;
    text-transform: uppercase;
    color: #dc56c5;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    position: absolute;
    width: 588px;
    height: 122px;
    left: 345px;
    top: 40px;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #dc56c5;
  }
}
@media screen and (max-width: 767px) {
  .image__logo {
    display: block;
    width: 213.97px;
    height: 180px;
    left: -107.49px;
    top: -90px;
    background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  }
}
@media screen and (min-width: 767px) {
  .image__logo {
    display: none;
  }
}
.image__logo-tablet {
  display: none;
  width: 302px;
  height: 359px;
  left: 179px;
  top: -151px;
  background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
}

@media screen and (min-width: 768px) {
  .image__logo-tablet {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .image__logo-tablet {
    width: 402px;
    height: 477px;
    left: 239px;
    top: -201px;
    background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
    pointer-events: none;
  }
}
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: Mont;
  font-style: normal;
}

main {
  min-width: 320px;
}

footer {
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}# sourceMappingURL=main.css.map */
