.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //   background-color: rgba(0, 0, 0, 0.8);
  background-color: #200d1d60;
}

.modal__content {
  width: 930px;
  height: 1023px;
  padding: 60px 30px;

  background-color: #fff2fd;
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
  border-radius: 30% 0 30% 0;
}

.modal.is-open .modal__content {
  transform: scale(1);
}

.modal__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.modal__button {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;

  //нужно откорректиорвать путь!!!
  background-image: url('../images/close.svg');
  width: 25px;
  height: 25px;

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.modal__button:hover,
.modal__button:focus {
  color: #fff;
  background-color: rgba(203, 202, 207, 0.568);
}

.modal__image--little {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  width: 132px;
  height: 132px;
  background-image: url('../images/demo.jpg');
  background-size: cover;
}

.modal-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-left: -60px;
  margin-top: -60px;
}

.modal-info__item {
  flex-basis: calc((100% - 60px * 2) / 2);
  margin-left: 60px;
  margin-top: 60px;
}
