<div class='modal'>
  <img class='modal-img' src='' alt='' />
  <div class='modal-description'>
    <h1 class='modal-title'>INFO</h1>
    <p class='modal-information'>
        Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will create a proper music festival atmosphere on 10 stages
    </p>
    <h2 class='modal-when-title'>WHEN</h2>
    <p class='modal-when-date'>2021-06-09
      <br />
      <span class='modal-location'>20:00 (Kyiv/Ukraine)</span>
    </p>
    <h2 class='modal-where-title'>WHERE</h2>
    <p class='modal-where-location'>Kyiv, Ukraine </p>
    <p class='modal-where-address'>VDNH</p>
    <h2 class='modal-who-title'>WHO</h2>
    <p class='modal-who-name'>The Black Eyed Peas</p>
    <h2 class='modal-prices-title'>PRICES</h2>
    <p class='modal-prices-description'>
      <svg class='icon-ticket' height='24' width='24'></svg>Standart 300-500 UAH
    </p>
    <a href='' target='_blank'>
      <button class='modal-btn buy-standart'>BUY TICKETS</button></a>
      <p class='modal-prices-vip'>
      <svg class='icon-ticket' height='24' width='24'></svg>VIP 1000-1500 UAH
    </p>
    <button class='modal-btn buy-vip'>BUY TICKETS</button>
  </div>
</div>
<button class='modal-btn-more btn'>MORE FROM THIS AUTHOR</button>