<header class="hero">
    <div class="overlay"></div>
    
    <div class="logo-box">
        <a href="/" class="logo-active" rel="noopener noreferrer">
        <svg class="logo">
            <use href="./images/icons/logo.svg#logo"></use>
        </svg>
    </div>
      
    <div class="logo-bg"></div>

    <h1 class="hero__title">Find best events around the world</h1>

    <div class="input-box">
        <div class="input-cont">
            <input class="eventInput" type="text" name="event" id="input-event" placeholder="Start searching" />
        </div>
        <div class="input-cont">
            <select id="input-country"></select>
        </div>

    </div>

    <div class="overlay2"></div>
    
</header>