.input-box {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 25px auto 0 auto;

  @media (min-width: $tablet) {
    width: 570px;
    flex-direction: row;
    margin-top: 27px;
  }
  @media (min-width: $pc) {
    margin-top: 52px;
  }
}

.eventInput {
  height: 40px;
  padding: 0 30px 0 30px;
  width: 100%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  color: #939393;

  border: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;

  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 0.5s;

  &:focus {
    outline: none;
    border: 2px solid gray;
  }
}

#input-country {
  height: 40px;
  padding: 0 30px 0 30px;
  width: 100%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  appearance: none;
  color: #939393;
  cursor: pointer;

  border: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;

  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 0.5s;

  &:focus {
    outline: none;
    border: 2px solid gray;
  }
}

#input-country option {
  color: #939393;
  background-color: #1f1f1f;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}

.input-cont {
  @media (min-width: $tablet) {
    width: 270px;
  }
  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    background: url('../images/search-icon.svg');
    left: 228px;
    top: 14px;
    bottom: 14px;
    width: 12px;
    height: 12px;
    background-size: contain;
  }
  &:not(:first-child) {
    margin-top: 25px;
    @media (min-width: $tablet) {
      margin: 0 0 0 30px;
      width: 270px;
    }
    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      background: url('../images/select-icon.svg');
      left: 225px;
      bottom: 14px;
      width: 15px;
      height: 10px;
      background-repeat: no-repeat;
      @media (min-width: $tablet) {
        top: 14px;
      }
    }
  }

  @media (max-width: $tablet) {
    transform: translateY(100px);
  }
  transform: translateY(150px);
  opacity: 0;
  filter: blur(100px);
  transition: 1.7s;

  &.input-animate {
    opacity: 1;
    transform: translateY(0px);
    filter: none;
  }
}
