.footer {
  margin-bottom: 27px;
  margin-top: 60px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: $pc) {
    margin-top: 80px;
  }
}

.footer-copyright {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: $input-text;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer-heart {
  font-size: 20px;
  color: $heart;
}

.footer-students {
  color: $input-text;
  text-decoration: none;
}
