.footer {
  margin-bottom: 27px;
  margin-top: 60px;

  /* Animation */

  opacity: 0;
  transform: translateY(-35px);

  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715, 0.4);
  transition: 3s;

  @media screen and (min-width: $tablet) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: $pc) {
    margin-top: 80px;
  }
}

.footer-copyright {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: $input-text;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

@keyframes pulse-heart {
  0% {
    transform: scale(0.95);
    filter: drop-shadow(0 0 10px $heart);
  }
  
  20% {
    transform: scale(1.15);
    filter: drop-shadow(0 0 2px $heart);
  }
  
  100% {
    transform: scale(0.95);
    filter: drop-shadow(0 0 10px $heart);
  }
}

.separator {
  color: rgb(71, 71, 71);
}

.footer-heart {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 20px;
  color: $heart;
  animation: pulse-heart 1.5s infinite;
}

.footer-students {
  color: $input-text;
  text-decoration: none;
}
